ion-label.stock_code {
    font-size: 1.5em;
    font-weight: lighter;
    margin-left: 10px;
    align-items: center;
  }
  
  div.quantity {
    font-size: 0.5em;
    font-weight: bold;
    border-radius: 15px;
    padding: 1px;
    margin: 5px;
    text-align: center;
    background-color: rgba(247, 150, 165, 0.305);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  div.value {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: 10px;
  }
  
  ion-item {
    padding: 2px;
  }
  
  ion-item:hover {
    background-color: #f9f9f9;
  }
  
  ion-accordion-group {
    margin: 20px;
  }
  
  ion-accordion {
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  
  ion-accordion .ion-padding {
    padding: 15px;
  }


  .stock-details {
    padding: 5px;
    background-color: #f9f9f95f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
  }
  
  .percentage-change {
    font-size: 0.5em;
    margin-bottom: 5px;
    text-align: right;
  }

  .percentage-change-detail {
    font-size: 1.5em;
    text-align: center;
  }
  
  .percentage-change .positive {
    color: #4caf50; 
  }
  
  .percentage-change .negative {
    color: #f44336; 
  }
  
  .current-price, .average-price {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .current-price {
    color: #2196f3; 
  }
  
  .average-price {
    color: #ff9800; 
  }

  .total_value {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .total_value h2 {
    margin: 0;
    font-weight: normal;
  }

  ion-segment {
    --background: lightcoral;
  }