<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <h2>Total Value: {{ totalValue | currency }}</h2>
      <h2>Overall Holding: {{ overallHolding | currency }}</h2>
    </ion-card-header>     
</ion-card>

<ion-card>
    <ion-card-header>
      <h2>Stocks Distribution</h2>
    </ion-card-header>
    <ion-card-content>
      <canvas id="doughnutChart"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>212 stocks</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let info of tradingInfo">
      <ion-label>Ticker: {{ info.ticker }}<br>
        Current Price: {{ info.currentPrice }}<br>
        Quantity: {{ info.quantity }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
