<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <h2>Total Value: {{ totalValue | currency }}</h2>
      <h2>Overall Holding: {{ overallHolding | currency }}</h2>
    </ion-card-header>     
</ion-card>

<ion-card>
    <ion-card-header>
      <h2>Stocks Distribution</h2>
    </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  <ion-accordion-group>
    <ion-accordion *ngFor="let info of tradingInfo">
      <ion-item slot="header">
        <div class="quantity">
          ⚖️ <br>
          {{ info.quantity | number:'1.1-1' }}
        </div>
        <ion-label class="stock_code">
          {{ info.ticker }}
        </ion-label>
        <div class="value">
          {{ info.currentPrice * info.quantity | currency }}
        </div>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>
          Percentage Change: {{ ((info.currentPrice - info.averagePrice) / info.averagePrice) * 100 | number:'1.0-2' }}%
          Current Price: {{ info.currentPrice }} <br>
          Average price: {{ info.averagePrice }}

          
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
