ion-button {
    --background: rgba(240, 128, 128, 0.679);
    --color: white;

    --background-hover:rgba(240, 128, 128, 1);
    ;
    --background-activated: rgba(240, 128, 128, 1);
    --background-focused: rgba(240, 128, 128, 1);
  
  }

  
  ion-input-password-toggle {
    --color: lightcoral;
  }
  
  ion-icon {
    --color: lightcoral;
  }
  ion-toggle {
    padding: 12px;
  
    --track-background-checked: lightcoral ;
    --track-background: #77777754;
  
  
    --handle-width: 25px;
    --handle-height: 27px;
    --handle-max-height: auto;
    --handle-spacing: 6px;
  
    --handle-box-shadow: none;
  }
  
  ion-toggle::part(track) {
    height: 10px;
    width: 65px;
  
    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
  }

  ion-toggle::part(handle) {
    background: #eb7769;
  
    border-radius: 4px;
    box-shadow: none;
  }
  
  ion-toggle.toggle-checked::part(handle) {
    background: #77777754;
  }