<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Credentials setup</ion-card-title>
  </ion-card-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saved credentials</ion-card-title>
      <ion-card-subtitle>Unhide api keys</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <ion-input type="password" label="Trading api key" value="myapikey">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-input type="password" label="Revolut api key" value="myapikey">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>API keys for authorization</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input type = "password" label="API key" [(ngModel)]="apiKey" placeholder="Enter Trading API key"></ion-input>
      <ion-button expand="block" (click)="saveApiKey()">Save</ion-button>
    </ion-card-content>
  </ion-card>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>System settings</ion-card-title>
  </ion-card-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notifications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Enable notifications</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Theme</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Dark mode</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-card>


</ion-content>
